body{
    background: linear-gradient(to left, rgb(166, 223, 250), rgb(121, 196, 231), rgb(114, 183, 214), rgb(79, 194, 248));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

fieldset{
    margin-top: -8px;
    
}

#home-info{
    position: absolute;
    top: 55px;
    left: 16px;
    color: aliceblue;
    max-width: 555px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 25px;
}

#home-info h3{
    color: aliceblue;
    font-size: 25px;
}

#cs2page{
    width:102.6%;
    height:475px;
    object-fit:cover;
    object-position:10% 0%;
    margin-left: -17px
}

#srflogo{

    border-radius: 25px;
    width:420px;
    height:275px;
    object-fit:cover;
    object-position:50% 50%;
    margin-top: 10px;
    margin-left: -1px

}

#infosection{
    position: absolute;
    top: 55px;
    left: 16px;
    color: black;
    margin-left: 455px;
    margin-top: 490px;
    max-width: 500px;
}

h1{
    text-align: center;
}

#members{
    float: left;
    width: 160px;
    margin-left: 150px;
}

#profile-jci{
    object-fit:cover;
    border-radius: 25px;
    width:200px;
    height:200px;
    margin-left: -83px;
}

#profile-jasteen{
    object-fit:cover;
    border-radius: 25px;
    width:200px;
    height:200px;
    margin-left: -62px;
}

#profile-hyztt{
    object-fit:cover;
    border-radius: 25px;
    width:200px;
    height:200px;
    margin-left: -72px;
}

#jci-text{
    margin-left: -25px;

}

#founding-members{
    background-color:  rgb(146, 191, 212);
    margin-left: -10px;
    width: 1015px;
}

#office{
    position: absolute;
    z-index: -2000;
    width:100.2%;
    height:275px;
    object-fit:cover;
    object-position:50% 53%;
    margin-left: -9px
    
    
}

#join-us h1{
    color: aliceblue;
}

#join-us p{
    color: aliceblue;
    max-width: 745px;
    margin-left: auto;
    margin-right: auto;
}

button{
    border: 2px solid #04AA6D;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1531px) {
    #srflogo{

        border-radius: 25px;
        width:420px;
        height:275px;
        object-fit:cover;
        object-position:50% 50%;
        margin-top: 10px;
        margin-left: 27%
    
    }
    
    #infosection{
        position: absolute;
        top: 55px;
        left: 27%;
        color: black;
        margin-left: 455px;
        margin-top: 490px;
        max-width: 500px;
    }
    
    #founding-members{
        
        margin-left: 23%;
    }

    #home-info{
        position: absolute;
        top: 55px;
        left: 19%;
        color: aliceblue;
        max-width: 555px;
        margin-left: 19%;
        margin-top: 10px;
        font-size: 25px;
    }

    #cs2page{
        width:101.4%;
        height:475px;
        object-fit:cover;
        object-position:10% 0%;
        margin-left: -17px
    }
}





