#signing{
    background-color: black;
    color: aliceblue;
    height: 4em;
    width: 8em;
    border: none;
    margin-top: 10px;
    font-family: 'Druk', sans-serif;
}

#signing:hover{
    background-color: rgba(114, 114, 114, 0.315);
}

#user_info{
    height: 40px;
    width: 395px;
    
}


#log_side{
    margin-left: 50px;
    margin-left: 3%;
}


#reg_side{
    margin-top: -240px;
    margin-left: 55%;
    
}


fieldset{
    margin-top: 10px;
    
}

p{
    
}


@media (min-width: 1531px) {
    #log_side{
    margin-left: 27%;
    
    }


    #reg_side{
        margin-top: -240px;
        margin-left: 55%;
        
    }

}
